.gameOver {
  position: absolute;
  height: 0;
  width: 100%;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 200;
  opacity: 0.9;
  transition: height 0.5s ease;
}

.gameOver.show {
  height: 100%;
}

.gameOver__container {
  padding-top: 120px;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
}

.gameOver.show .gameOver__container {
  display: flex;
}

.gameOver__container .finalScore {
  margin-top: 20px;
}

.gameOver__container .startAgainBtn {
  padding: 12px 29px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #01a8c1;
  background: linear-gradient(#e5ae09,#f1890b);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  color: white;
}

.gameOver__container .startAgainBtn:active {
  background-color: #d39e00;
  border: 1px solid black;
}

.gameOver__share {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.gameOver__share__button {
  width: 1.5rem;
  height: 1.5rem;
}

.gameOver__share__button img {
  width: 100%;
  height: 100%;
}

.gameOver__share__button img:hover {
  cursor: pointer;
}