.control {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}

.control__item_wrapper {
  width: 100%;
  padding-top: 100%;
  position: relative;
}

.control__countdown {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.control__score {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}