.control {
  display: flex;
  margin-bottom: 5%;
  justify-content: space-between;
}

.control__container {
  display: flex;
}

.control__item_wrapper {
  width: 50%;
  padding-top: 33.5%;
  position: relative;
}

.control__item__hider {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
  opacity: 0.5;
  transition: width 0.2s ease;
}

.control__countdown {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.control__score {
  display: flex;
  align-items: flex-end;
  flex-direction: row-reverse;
}