* {
  margin: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  position: relative;
}

.App__container {
  padding: 10px;
  background-color: #fafafa;
  height: 100%;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}